.git/
.idea/
bootstrap/cache/*
node_modules/
public/js/
public/css/
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
vendor/
yarn-error.log